.about {
    width: 100%;
    height: 450px;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f4f6f8;
  
  }
  
  .about .picture {
    width: auto;
   margin: 40px;
  }
  
  .picture img {
    border-radius: 100%;
  }
  
  .about .description {
    width: 40%;
    margin: 40px;
  }
  
  .about .description p {
    font-size: 19px;
    color: #777e5c;
  }
  
  .about .description h3 {
    color: #b0b6bc;
  }
  