* {
  box-sizing: border-box;
}

html,
#root {

  height: 100%;
}



body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  /* background-color: #777e5c; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/******************* HOME ****************/


/******************* HEADER ****************/


.header {
  width: 100%;
  height: 120px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40%;
  background-color: #f4f6f8;
}

.link {
  margin: 10px;
  text-decoration: none;
  color: #b0b6bc;
}

/******************* CONTENT ****************/
.contents {
  width: 100%;
  height: 300px;
}

.title {
  margin: 0 auto;
  text-align: center;
}

.title h1 {
  margin: 50px 0 0 0;
  color: #b0b6bc;
}

.title h4 {
  color: #777e5c;
}

/******************* ABOUT ****************/
.about {
  width: 100%;
  height: 450px;
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f4f6f8;

}

.about .picture {
  width: auto;
 margin: 40px;
}

.picture img {
  border-radius: 100%;
}

.about .description {
  width: 40%;
  margin: 40px;
}

.about .description p {
  font-size: 19px;
  color: #777e5c;
}

.about .description h3 {
  color: #b0b6bc;
}


/******************* CONTACT ****************/

.contact {

  height: 200px;
  margin: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contacts{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .link{
display: flex;
justify-content: center;
align-items: center;
font-size: 18px;
gap: 5px;
}

.social-media{
  width: 30%;
  display: flex;
  justify-content: center;
}

.social-media a{
  margin: 10px;
}

/******************* FOOTER ****************/
.footer{
  margin: 0 auto;
  padding:3px;
  text-align: center;
  background-color: #f4f6f8;

}
.footer p{
  font-size: 18px;
  color: #777e5c;

}

/******************* VIEW ****************/
.view{
  width: 100%;
  height: auto;
  margin:  50px 0 0  0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/******************* CONTAINER ****************/

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container .box{
  width: 40%;
  height: 600px;
  margin: 30px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.box p {
  font-size: 17px
  ;
}

